# Host information
export PORT=12416
export HOSTNAME="http://192.168.2.50:12416"

# Publication point
export HACKPUBURL="http://192.168.2.50:12416/"

# Webmaker SSO information
export LOGIN="http://192.168.2.50:3000"
export LOGINAPI="http://testuser:password@192.168.2.50:3000"
export AUDIENCE="http://192.168.2.50:7777"

# RESTful bleaching url
export BLEACH_ENDPOINT="http://192.168.2.50:5050"

# make API information
export MAKE_ENDPOINT="http://192.168.2.50:5000"
export MAKE_PRIVATEKEY="00000000-0000-0000-000000000000"
export MAKE_PUBLICKEY="00000000-0000-0000-000000000000"

# Local cookie secret
export SESSION_SECRET="I do enjoy a good cup of tea"

# Database settings
#
# For sqlite: _dialect and _storage needs to be set
# For mysql: _dialect, _user, _password, _host and _name needs to be set
#
export DB_DIALECT="sqlite"
export DB_STORAGE="goggles.sqlite"

# AWS-S3 information
export S3_BUCKET="org.webmadecontent.staging.goggles"
export S3_KEY=
export S3_SECRET=

# This value is only used for 192.168.2.50 testing with emulated S3
export MOX_PORT=12319
export S3_DOMAIN="http://192.168.2.50:12319"
export S3_EMULATION=false

# Optional google analytics settings - if used, they will inject
# the google analytics JS snippet with your information filled in.
export GA_ACCOUNT=
export GA_DOMAIN=

# domain to host user subdomains on. None means use raw S3 url
# If defined, must be in the format protocol://hostname[:port]
export USER_SUBDOMAIN=
